@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.result-back {
  cursor: pointer;
}

.result-container img {
  width: 80vw;
  max-width: 300px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.result-title {
  text-align: center;
  font-family: "Gluten", cursive;
  font-size: 2em;
}
.result-copy-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.result-link {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  font-family: "Poppins", sans-serif;
  width: 35vw;
  min-width: 200px;
  white-space: nowrap;
  overflow: scroll;
}
.result-copy {
  background-color: rgb(255, 58, 58);
  color: #fff;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  border-style: solid;
}

.result-copy:active {
  background-color: rgb(255, 58, 58);
  border-style: inset;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

i {
  color: black;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background-color: #3ccf37;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}


.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(85, 85, 85, 0.692);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px 5px 2px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: small;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
